# Système et IDE

# Dossier de configuration de VS Code
.vscode/
# Dossier pour IntelliJ IDEA/PyCharm
.idea
# Fichiers temporaires d'édition           
*.swp                   

# Environnements virtuels et variables d'environnement

# Environnement virtuel
env/                       
venv/                        
myenv/                 
# Autres fichiers .env nommés (par exemple, .env.production)      
*.env                        
.env.*                       

# Node.js

# Dépendances Node.js
node_modules/                

# Python

# Fichiers compilés Python
*.pyc                     
# Fichiers optimisés Python   
*.pyo                        
# Fichiers compilés sous Windows
*.pyd              
 # Caches Python          
__pycache__/       
# Caches Python dans les sous-dossiers         
**/__pycache__/              
# Cache Pylint
*.pylint.d                   

# Base de données
*.sqlite3
db.sqlite3

# Logs et données temporaires
*.log                        
*.pid                        
*.seed                       
*.bak                        
*.tmp

# Django spécifiques
staticfiles/                 
media/                       
**/migrations/               
!.gitkeep      
