# Système et IDE
.vscode/                     # Dossier de configuration de VS Code
.idea/                       # Dossier pour IntelliJ IDEA/PyCharm
*.swp                        # Fichiers temporaires d'édition

# Environnements virtuels et variables d'environnement
env/                       # Environnement virtuel (nom commun)
venv/                        # Environnement virtuel alternatif
myenv/                       # Autre nom potentiel pour un environnement virtuel
*.env                        # Fichiers de variables d'environnement
.env.*                       # Autres fichiers .env nommés (par exemple, .env.production)

# Node.js
node_modules/                # Dépendances Node.js

# Python
*.pyc                        # Fichiers compilés Python
*.pyo                        # Fichiers optimisés Python
*.pyd                        # Fichiers compilés sous Windows
__pycache__/                 # Caches Python
**/__pycache__/              # Caches Python dans les sous-dossiers
*.pylint.d                   # Cache Pylint

# Base de données
db.sqlite3                   # Base de données SQLite
*.sqlite3                    # Autres fichiers SQLite

# Logs et données temporaires
*.log                        # Fichiers de logs
*.pid                        # Fichiers de processus
*.seed                       # Fichiers de données de seed
*.bak                        # Sauvegardes
*.tmp                        # Fichiers temporaires

# Django spécifiques
staticfiles/                 # Dossier généré par collectstatic
media/                       # Fichiers médias téléchargés (s'ils ne sont pas versionnés)
**/migrations/               # Migrations générées automatiquement
!.gitkeep                    # Conserve les dossiers vides
